@import 'tailwindcss';

button {
  cursor: pointer;
  -webkit-app-region: no-drag;
  outline: none;
  border: none;
}

input, textarea, h3 {
  -webkit-app-region: no-drag;
}

#main-container {
  -webkit-app-region: drag;
}

#list-macros {
  -webkit-app-region: no-drag;
}

#minimize-btn {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

#container-macros{
  -webkit-app-region: no-drag;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 8px; /* Largura da barra vertical */
  height: 8px; /* Altura da barra horizontal */
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  @apply bg-gray-900 rounded-md; /* Cor e bordas arredondadas */
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-950; /* Cor ao passar o mouse */
}

.scrollbar-custom::-webkit-scrollbar-track {
  @apply bg-gray-700; /* Cor de fundo da trilha */
}
